<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <th:block th:replace="~{fragments/common-fragments :: common-head}"></th:block>
</head>

<body>
    <div class="main">
        <th:block th:replace="~{fragments/common-fragments :: common-navbar}"></th:block>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Add Item Stock</h4>
            </div>
            <div class="col-12 mt-4">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-5">
                        <div style="position: relative; width: 100%;">
                            <i class="fa-solid fa-magnifying-glass"
                                style="position: absolute; left: 15px; top: 50%; transform: translateY(-50%);"></i>
                            <input type="text" id="itemName" class="form-control form-control-lg"
                                placeholder="Search by item name..." style="padding-left: 40px;">
                            <ul class="dropdown-menu w-100" id="suggestions"></ul>
                        </div>
                        <div class="card mt-3">
                            <div class="card-body" id="itemDetailsCard">
                                <div class="py-5 text-center">
                                    <img th:src="@{/img/search.png}" alt="Search icon"><br><br>
                                    Search for an item to add to its stock quantity.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/common-fragments :: common-footer}"></th:block>
</body>
<th:block th:replace="~{fragments/common-fragments :: common-js}"></th:block>
<th:block th:replace="~{fragments/common-fragments :: common-js-scripts}"></th:block>
<script th:src="@{/js/manager/add-item-stock.js}"></script>

</html>