<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <th:block th:replace="~{fragments/common-fragments :: common-head}"></th:block>
</head>

<body>
    <div class="main">
        <th:block th:replace="~{fragments/common-fragments :: common-navbar}"></th:block>
        <div class="container">
            <h3>Manager Dashboard</h3>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body">hasd</div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body">hasd</div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body">hasd</div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <div class="card-body">hasd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/common-fragments :: common-footer}"></th:block>
</body>
<th:block th:replace="~{fragments/common-fragments :: common-js-scripts}"></th:block>

</html>