<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <th:block th:replace="~{fragments/common-fragments :: common-head}"></th:block>
</head>

<body>
    <th:block th:replace="~{fragments/common-fragments :: common-navbar}"></th:block>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Master Item</h4>
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#itemModal"><i
                    class="fa-solid fa-plus"></i> Add New</button>
        </div>
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="itemTable">
                            <thead>
                                <tr class="table-dark">
                                    <th class="text-center">#</th>
                                    <th>Item</th>
                                    <th>Item Category</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="itemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="itemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="itemModalLabel">Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-4">
                    <form id="itemForm" autocomplete="off">
                        <div class="row">
                            <input type="text" name="id" id="id" hidden>
                            <div class="form-group col-12">
                                <label class="text-medium" for="name">Item Name</label>
                                <input type="text" name="name" id="name" class="form-control"
                                    placeholder="Enter Item Name">
                                <small id="nameError" class="form-error"></small>
                            </div>
                            <div class="form-group col-12">
                                <label class="text-medium" for="name">Item Category</label>
                                <select type="text" name="category" id="category" class="form-select">
                                    <option value="">-- Select Category --</option>
                                    <option th:each="x,itr: ${categoryList}" th:value="${x.id}" th:text="${x.name}">
                                    </option>
                                </select>
                                <small id="categoryError" class="form-error"></small>
                            </div>
                            <div class="form-group col-12">
                                <label class="text-medium" for="status">Status</label>
                                <select name="status" id="status" class="form-select">
                                    <option th:each="x,itr: ${statusList}" th:value="${x}" th:text="${x}">
                                    </option>
                                </select>
                                <small id="statusError" class="form-error"></small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark" id="saveItemBtn">Save</button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/common-fragments :: common-footer}"></th:block>
</body>
<th:block th:replace="~{fragments/common-fragments :: common-js}"></th:block>
<th:block th:replace="~{fragments/common-fragments :: common-js-scripts}"></th:block>
<script th:src="@{/js/admin/master-item.js}"></script>

</html>